{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Photologger &raquo; 404 - File Not Found' %}

{% block pageContent %}
	<p class="breadcrumb"><a href="{{ path('home') }}">Photologger</a> &raquo; 404 - File Not Found</p>
	<p>{{ error }}</p>
{% endblock %}